DJANGO_SECRET_KEY='your_django_secret_key'
DJANGO_ALLOWED_HOSTS=localhost,<Ваш домен>
DJANGO_DEBUG=0 или 1 для Debug режима

DJANGO_SUPERUSER_USERNAME=admin_name
DJANGO_SUPERUSER_EMAIL='ваш email'
DJANGO_SUPERUSER_PASSWORD=password_administrator_123

POSTGRES_DB=warehouse_db
POSTGRES_HOST=127.0.0.1 если локально или  имя сервиса с базой данных из docker-compose.yml
POSTGRES_PORT=5432
POSTGRES_USER=admin
POSTGRES_PASSWORD='postgres_password_123!'

EMAIL_HOST_USER='email для рассылки'
EMAIL_HOST_PASSWORD='пароль приложения (https://id.yandex.ru/security/app-passwords)'
EMAIL_HOST='smtp.yandex.ru'
EMAIL_PORT=587
EMAIL_USE_TLS=1

COMPANY_NAME='ООО Логистическая платформа'
VIRTUAL_HOST=<ваш домен>
LETSENCRYPT_HOST=<ваш домен>
HTTPS_METHOD=redirect