 #themeIcon {
    font-size: 28px;
 }

 .inventory-weight-qty-input {
    max-width: 125px;
 }

.table-container {
    height: 75vh; overflow-y: auto
}

.no-data-table {
    text-align: center;
    vertical-align: middle;
}

.structure-search-button {
    text-decoration: none;
    color: black;
}

.structure-search-button:hover {
    text-decoration: underline;
    color: blue;
}
