{% extends 'warehouse/inventory_header.html' %}
{% load widget_tweaks %}

{% block title %}История{% endblock %}

{% block body %}
<div class="container-fluid p-0">
    <div class="mb-2 p-1 rounded small bg-body-tertiary">
        <form method="get" class="mb-1">
            {# Ошибки летят из forms.py/PlaceItemSearchForm.clean() #}
            {% if form.non_field_errors %}
            <div class="alert alert-danger">
                {% for error in form.non_field_errors %}
                <div>{{ error }}</div>
                {% endfor %}
            </div>
            {% endif %}

            <div class="row g-1 align-items-end">

                <div class="col-auto">
                    {{ form.stock.label_tag }}
                    {{ form.stock|add_class:"form-select form-select-sm" }}
                    {% if form.stock.errors %}
                    <div class="text-danger small">{{ form.stock.errors }}</div>
                    {% endif %}
                </div>

                <div class="col-auto">
                    {{ form.zone.label_tag }}
                    {{ form.zone|add_class:"form-select form-select-sm" }}
                    {% if form.zone.errors %}
                    <div class="text-danger small">{{ form.zone.errors }}</div>
                    {% endif %}
                </div>

                <div class="col-auto">
                    {{ form.place.label_tag }}
                    {{ form.place|add_class:"form-select form-select-sm" }}
                    {% if form.place.errors %}
                    <div class="text-danger small">{{ form.place.errors }}</div>
                    {% endif %}
                </div>

                <div class="col-auto">
                    {{ form.item_code.label_tag }}
                    {{ form.item_code|add_class:"form-control form-control-sm" }}
                    {% if form.item_code.errors %}
                    <div class="text-danger small">{{ form.item_code.errors }}</div>
                    {% endif %}
                </div>

                <div class="col-auto">
                    {{ form.date_from.label_tag }}
                    {{ form.date_from|add_class:"form-control form-control-sm" }}
                    {% if form.date_from.errors %}
                    <div class="text-danger small">{{ form.date_from.errors }}</div>
                    {% endif %}
                </div>

                <div class="col-auto">
                    {{ form.date_to.label_tag }}
                    {{ form.date_to|add_class:"form-control form-control-sm" }}
                    {% if form.date_to.errors %}
                    <div class="text-danger small">{{ form.date_to.errors }}</div>
                    {% endif %}
                </div>

                <div class="col-auto">
                    {{ form.user.label_tag }}
                    {{ form.user|add_class:"form-control form-control-sm" }}
                    {% if form.user.errors %}
                    <div class="text-danger small">{{ form.user.errors }}</div>
                    {% endif %}
                </div>

                <div class="col-auto mx-2">
                    <button type="submit" class="btn btn-primary btn-sm">Поиск</button>
                </div>
            </div>
        </form>
    </div>

    <div class="table-container mb-2 border border-2 border-secondary rounded small">
        <div class="table-wrapper">
            <table class="table table-striped small mb-0">
                <thead class="table-light sticky-top text-center">
                <tr>
                    <th>Дата</th>
                    <th>Работник</th>
                    <th>Код товара</th>
                    <th>Откуда</th>
                    <th>Куда</th>
                    <th>Кол-во</th>
                </tr>
                </thead>
                <tbody>
                {% for h in histories %}
                <tr>
                    <td class="bg-body-tertiary"><b>{{ h.date|date:"d.m.Y H:i" }}</b></td>
                    <td>{{ h.user|default:"—" }}</td>
                    <td>{{ h.item_code }}</td>
                    <td>{{ h.old_address }}</td>
                    <td>{{ h.new_address }}</td>
                    <td>{{ h.count }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="100%" class="no-data-table"><b>Нет данных</b></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <nav>
        <ul class="pagination pagination-sm">
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16"
                         height="16" fill="currentColor"
                         class="bi bi-caret-left-fill"
                         viewBox="0 0 16 16">
                        <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
                    </svg>
                </a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <span class="page-link">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16"
                         height="16" fill="currentColor"
                         class="bi bi-caret-left-fill"
                         viewBox="0 0 16 16">
                        <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
                    </svg>
                </span>
            </li>
            {% endif %}

            {% for i in paginator.page_range %}
            {% if page_obj.number == i %}
            <li class="page-item active"><span class="page-link">{{ i }}</span></li>
            {% else %}
            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                        <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                    </svg>
                </a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <span class="page-link">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16"
                         height="16" fill="currentColor"
                         class="bi bi-caret-right-fill"
                         viewBox="0 0 16 16">
                        <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                    </svg>
                </span>
            </li>
            {% endif %}
        </ul>
    </nav>
</div>
{% endblock %}
