{% extends 'bound/bound_header.html' %}
{% load widget_tweaks %}

{% block title %}Создание поставки{% endblock %}

{% block body %}
<div class="container-fluid p-0">
    <div class="mb-2 p-2 border border-2 border-secondary rounded-4 small bg-body-tertiary">

        <div class="mb-3">
            <button class="inboud-create-info btn btn-link p-0"
                    data-bs-toggle="modal"
                    data-bs-target="#modalPlace">
                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor"
                     class="bi bi-info-circle-fill" viewBox="0 0 16 16">
                    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2"/>
                </svg>
            </button>
            <a class="get-inb-form-button" type="button" href="{% url 'bound:download_inbound_form' %}">
                Форма-Поставки
            </a>
        </div>

        <form method="post" class="mb-1" enctype="multipart/form-data">
            {% csrf_token %}

            {# Ошибки летят из forms.py/InboundCreateForm.clean() #}
            {% if form.non_field_errors %}
            <div class="alert alert-danger">
                {% for error in form.non_field_errors %}
                <div>{{ error }}</div>
                {% endfor %}
            </div>
            {% endif %}

            <div class="row g-1 align-items-end">

                <div class="col-auto">
                    {{ form.stock.label_tag }}
                    {{ form.stock|add_class:"form-select form-select-sm" }}
                    {% if form.stock.errors %}
                    <div class="text-danger small">{{ form.stock.errors }}</div>
                    {% endif %}
                </div>

                <div class="col-auto">
                    {{ form.status.label_tag }}
                    {{ form.status|add_class:"form-select form-select-sm" }}
                    {% if form.status.errors %}
                    <div class="text-danger small">{{ form.status.errors }}</div>
                    {% endif %}
                </div>

                <div class="col-auto">
                    {{ form.supplier.label_tag }}
                    {{ form.supplier|add_class:"form-control form-control-sm" }}
                    {% if form.supplier.errors %}
                    <div class="text-danger small">{{ form.supplier.errors }}</div>
                    {% endif %}
                </div>

                <div class="col-auto">
                    {{ form.planned_date.label_tag }}
                    {{ form.planned_date|add_class:"form-control form-control-sm" }}
                    {% if form.planned_date.errors %}
                    <div class="text-danger small">{{ form.planned_date.errors }}</div>
                    {% endif %}
                </div>

                <div class="col-auto">
                    {{ form.actual_date.label_tag }}
                    {{ form.actual_date|add_class:"form-control form-control-sm" }}
                    {% if form.actual_date.errors %}
                    <div class="text-danger small">{{ form.actual_date.errors }}</div>
                    {% endif %}
                </div>

                <div class="col-12 mt-3">
                    {{ form.description.label_tag }}
                    {{ form.description|add_class:"form-control form-control-sm" }}
                    {% if form.description.errors %}
                    <div class="text-danger small">{{ form.description.errors }}</div>
                    {% endif %}
                </div>

<!--                Для отправки файлов как часть формы-->
<!--                <div class="col-12 mt-3">-->
<!--                    {{ form.documents.label_tag }}-->
<!--                    {{ form.documents|add_class:"form-control form-control-sm" }}-->
<!--                    {% if form.documents.errors %}-->
<!--                    <div class="text-danger small">{{ form.documents.errors }}</div>-->
<!--                    {% endif %}-->
<!--                </div>-->


                <div class="col-auto mt-3 mx-3">
                    <label class="form-label">Документы</label>
                    <input type="file" id="documents" name="documents" multiple
                           class="form-control form-control-sm w-auto">
                </div>

                <div class="col-auto mt-3 mx-3">
                    <label class="form-label">Файл INB-FORM</label>
                    <input type="file"
                           id="inb_form"
                           name="inb_form"
                           class="form-control form-control-sm w-auto"
                           accept=".xlsx,.xls,.csv">
                </div>

                <div id="preview" class="mt-3"></div>
            </div>

            <div class="col-12 text-center mt-4">
                <button type="submit" class="btn btn-success btn">Создать</button>
            </div>
        </form>
    </div>

    <div class="modal fade" id="modalPlace" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Инструкция</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <p class="mb-1">Заполните поля:</p>
                    <ul class="mb-3">
                        <li>Склад</li>
                        <li>Статус</li>
                        <li>Поставщик в формате:
                            <b>ИП Иванов Александ Владимирович</b>, <b>ООО Инфотех</b>
                        </li>
                        <li>Планируемая дата поставки</li>
                        <li>Описание</li>
                    </ul>

                    <p class="mb-2">
                        Скачайте файл
                        <b>
                            <a class="get-inb-form-button" type="button" href="{% url 'bound:download_inbound_form' %}">
                                Форма-Поставки
                            </a>
                        </b>
                        и заполните таблицу товаров (Партномер, Вес г, Количество, Описание)
                    </p>

                    <p class="mb-2">
                        Приложите документы поставки (не более 15) и файл с заполненной таблицей поставки
                    </p>

                    <p style="color: gray;">
                        Не переименовывайте форму и не меняйте ее структуру. Файл строго валидируется.
                    </p>
                </div>
            </div>
        </div>
    </div>


</div>
{% endblock %}

{% block scripts %}
<script src="/static/js/inb_form_validation.js"></script>
<script src="/static/js/inb_files.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>
{% endblock %}

